<li id="messages" class="nav-item dropdown">
	<a class="nav-icon dropdown-toggle" id="messagesDropdown" data-toggle="dropdown" v-on:click="messagesSeen = true;">
		<div class="position-relative">
			<i class="align-middle" data-feather="message-square"></i>
			<span v-if="!messagesSeen" class="indicator small"></span>
		</div>
	</a>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="messagesDropdown">
		<div class="dropdown-menu-header">
			<div class="position-relative">
				Съобщения
			</div>
		</div>
		<div class="list-group">
			<template v-if="messages.length > 0">
				<a :href="message.url" class="list-group-item" v-for="message of messages">
					<div class="row g-0 align-items-center">
						<div class="col-2">
							<div :class="'circle pt-2 bg-' + message.status">
								<h3>{{message.avatar}}</h3>
							</div>
						</div>
						<div class="col-10 pl-2">
							<div class="text-dark">{{message.title}}</div>
							<div class="text-muted mt-1">{{message.content}}</div>
							<div class="text-muted small mt-1">
								<i class="fa fa-clock"></i>
								<time-ago :refresh="60" :datetime="message.time" locale="bg" tooltip></time-ago>
							</div>
						</div>
					</div>
				</a>
			</template>
			<template v-else>
				<h3 class="p-3 align-text-center">За момента нямате съобщения.</h3>
			</template>
		</div>
		<template v-if="messages.length > 0">
			<div class="dropdown-menu-footer">
				<a :href="allMessages" class="text-muted">Покажи всички</a>
			</div>
		</template>
	</div>
</li>