@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
	public string XsrfToken() => Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
}
@{
	var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
	#logout input {
		background: none;
		border: none;
		color: inherit;
		padding: 0;
		width: 100%;
		text-align: left;
	}
</style>

<div class="list-group list-group-flush" role="tablist">
	<a class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
		Профил
	</a>
	<a class="list-group-item list-group-item-action @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
		Имейл
	</a>
	<a class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
		Парола
	</a>
	<a class="list-group-item list-group-item-action @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
		Лични Данни
	</a>
	<a class="list-group-item list-group-item-action" href="/Logout" id="logout">
		Изход
	</a>
</div>

