@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Промяна на паролата";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h1>@ViewData["Title"]</h1>
				<partial name="_StatusMessage" model="Model.StatusMessage" />
			</div>
			<hr />
			<div class="card-body">
				<form id="change-password-form" method="post">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="form-group mb-3">
						<label asp-for="Input.OldPassword"></label>
						<input asp-for="Input.OldPassword" class="form-control" />
						<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="Input.NewPassword"></label>
						<input asp-for="Input.NewPassword" class="form-control" />
						<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="Input.ConfirmPassword"></label>
						<input asp-for="Input.ConfirmPassword" class="form-control" />
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary">Промяна на паролата</button>
				</form>
			</div>
		</div>
	</div>
</div>

		@section Scripts {
			<partial name="_ValidationScriptsPartial" />
		}
