@model VPSViewModel


<div class="card">
	<div class="card-header">
		<h3 class="title">Rescue System</h3>
	</div>
	<div class="card-body">
		<p class="card-text">Rescue система е мрежова среда и може да се използва за отстраняване на проблеми, предотвратяващи редовното зареждане. Също така е полезно да инсталирате персонализирани дистрибуции на Linux, които не се предлагат директно от нас. Можете да монтирате твърдия диск на сървърите в спасителната система.
		<br><br>След като активирате rescue система, трябва да рестартирате сървъра през следващите 60 минути, за да го активирате. След друго рестартиране вашият сървър ще се зареди отново от локалния си диск.</p>
		<hr>
		<a href="#" class="btn btn-primary">Активиране на Rescue <i class="fas fa-arrow-alt-circle-right"></i></a>
	</div>
</div>