@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля, проверете имейла си, за да зададете нова парола.
</p>

