@page
@model LoginModel
@{
    ViewData["Title"] = "Вход";
}

<style>
	.card hr {
		margin: 0;
	}
</style>

<div class="row">
    <div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<h1>@ViewData["Title"]</h1>
			</div>
			<hr />
			<div class="card-body">
				<form id="account" method="post">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="form-group mb-3">
						<label asp-for="Input.Email"></label>
						<input asp-for="Input.Email" class="form-control" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="Input.Password"></label>
						<input asp-for="Input.Password" class="form-control" />
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<div class="checkbox">
							<label asp-for="Input.RememberMe">
								<input asp-for="Input.RememberMe" />
								@Html.DisplayNameFor(m => m.Input.RememberMe)
							</label>
						</div>
					</div>
					<div class="form-group mb-3">
						<button type="submit" class="btn btn-primary">Вход</button>
					</div>
					<div class="form-group">
						<a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
						<br />
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрирай се</a>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
