@page
@model RegisterModel
@{
    ViewData["Title"] = "Създаване на акаунт";
}

<div class="row">
    <div class="container d-flex flex-column">
                <div class="row vh-95">
                    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                        <div class="d-table-cell align-middle">
                            <div class="card">
                                <div class="card-header">
                                        <h1 class="text-center">@ViewData["Title"]</h1>
                                    </div>
                                <div class="card-body">
                                    <div class="m-sm-4">
                                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group mb-3">
                                                <label asp-for="Input.UserName"></label>
                                                <input asp-for="Input.UserName" class="form-control" />
                                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label asp-for="Input.Email"></label>
                                                <input asp-for="Input.Email" class="form-control" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label asp-for="Input.Password"></label>
                                                <input asp-for="Input.Password" class="form-control" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label asp-for="Input.ConfirmPassword"></label>
                                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <div class="text-center mt-3">
                                                <button type="submit" class="btn btn-primary">Регистрация <i class="fas fa-edit"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}