@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата парола беше рестартирана. Моля <a asp-page="./Login">цъкнете тук за да влезете.</a>.
</p>
